body {
  margin: 0;
  background: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.card-wrapper {
  position: relative;
  width: 900px;
  height: 600px;
  perspective: 2000px;
  display: flex;
}

.card-side {
  width: 300px;
  height: 100%;
  background: #111;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 1s ease;
  position: absolute;
  top: 0;
  z-index: 2;
}

.card-side.left {
  left: 0;
  transform-origin: left;
  background: #001f9f;
}

.card-side.right {
  right: 0;
  transform-origin: right;
  background: #ffcc00;
  color: #000;
}

.card-center {
  width: 900px;
  height: 100%;
  background: black;
  overflow: hidden;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-center img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  background: rgba(0,0,0,0.5);
  text-align: center;
  padding: 20px;
}

/* Hiệu ứng mở */
.card-wrapper.open .left {
  transform: rotateY(-100deg);
}

.card-wrapper.open .right {
  transform: rotateY(100deg);
}
